.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.btn3{
    background-color: aquamarine;
}
.div{ 
    border: 1px solid black;
    background-color:aqua;
    height:125px;
    width:100px;
}

.minus{
    margin-left: 54px;
    background-color:black;
    color:white;
}
.plus{
    color:black;
    background-color:azure;
}
.collect{
 width: 96px;
 height:77px;
 background-color:brown;
 color:antiquewhite;
}
.todo_list{
    border:1px solid red;
    border-radius: 10px;
    background-color:steelblue;
    width:200px;
}
.task{
    border-radius:5px;
    background-color:black;
    color: white;

}
.Delete_task{
    border-radius:5px;
    background-color:black;
    color:beige;

}
.take_task{
  background-color: yellowgreen;
  color:blue;
}
